@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    padding: 0;
    margin: 0;
    user-select: none;
    background-color: rgb(0, 1, 44);
}

* {
    transition: 0.2s;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    user-select: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -999;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
}

.background img {
    transition: none !important;
    width: 100px;
    height: 100px;
    filter: blur(3px);
}

.background .bg-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.root {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

header {
    color: white;
    background-color: rgba(255, 255, 255, 0.144);
    width: 500px;
    max-width: 95%;
    margin: 50px auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 7px 12px;
    text-align: center;
}

header h1 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
}

.edu-type-selector {
    color: white;
    background-color: rgba(255, 255, 255, 0.144);
    width: 700px;
    max-width: 95%;
    margin: 50px auto;
    margin-top: 0;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 7px 12px;
    text-align: center;
}

.edu-type-selector h1:first-child {
    margin-block: 15px;
}

.edu-type-selector div {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
}

.edu-type-selector div li {
    width: 50%;
    padding: 7px;
    border-radius: 8px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2rem;
}

.active_menuitem {
    background-color: rgb(0, 1, 44);
    color: white !important;
}

.active_menuitem:hover {
    background-color: rgb(0, 1, 44) !important;
    color: white !important;
}

.theory-all, .test-all {
    animation: fadeIn 0.5s ease-in forwards alternate;
    background-color: rgba(255, 255, 255, 0.144);
    width: 550px;
    max-width: 90%;
    padding: 20px;
    height: 320px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: 0 auto;
    color: white;
}

.questions {
    position: relative;
}

.question {
    background-color: rgb(7, 95, 167);
    padding: 10px 15px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.question:first-child {
    opacity: 1.0;
    transform: rotate(0);
    z-index: 100;
}

.question:nth-child(2) {
    opacity: 0.5;
    transform: rotate(-2deg);
    z-index: 99;
}

.question:nth-child(3) {
    opacity: 0.33;
    transform: rotate(-4deg);
    z-index: 98;
}

.question:nth-child(4) {
    opacity: 0.25;
    transform: rotate(-6deg);
    z-index: 97;
}

.question:nth-child(n+5) {
    opacity: 0.0;
}

.next-prev-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 240px;
}

.next-prev-parent button {
    border-radius: 10px;
    border: 3px solid rgb(7, 95, 167);
    box-shadow: 0 0 10px 3px rgb(7, 95, 167);
    padding: 12px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.next-prev-parent button:hover {
    background-color: rgb(7, 95, 167);;
}

.next-prev-parent button:first-child {
    margin-right: 10px;
}

.animateNext {
    animation: nextCardAnimation 1s linear forwards;
}

.animatePrev {
    animation: prevCardAnimation 1s linear forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0.0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1.0;
        transform: translateX(0);
    }
}

@keyframes nextCardAnimation {
    0% {
        opacity: 1.0;
        transform: rotate(0);
        z-index: 100;
    }

    25% {
        transform: rotate(10deg) translateY(-60px);
    }

    75% {
        z-index: 90;
        opacity: 0.25;
    }

    100% {
        transform: rotate(-6deg) translateY(0);
    }
}

@keyframes prevCardAnimation {
    0% {
        opacity: 0.0;
        transform: rotate(-6deg) translateY(0);
        z-index: 90;
    }

    25% {
        transform: rotate(10deg) translateY(-60px);
    }

    75% {
        z-index: 110;
        transform: rotate(0) translateY(0);
        opacity: 1.0;
    }

    100% {
        z-index: 110;
        transform: rotate(0) translateY(0);
        opacity: 1.0;
    }
}